{% extends "master.html" %}



{% block title %}
  Smart Door Lock
{% endblock %}

{% block content %}

{% load static %}	
   
	<h1 class="centered">Welcome to Smart Door Lock</h1>
	<img class="img" src="{% static 'face recognition.jpg' %}" alt="face recognition" style="position: absolute; width: 400px; height: 300px; top: 350px; left: 250px; object-fit: contain;">


   <h2>Sign in</h2>
   <form method="POST">
    {% csrf_token %}
    
     <label for="email">Email:</label>
     <input type="text" id="email" name="email">

     <label for="password">Password:</label>
     <input type="password" id="password" name="password">

     <input type="submit" value="Log In">
   </form>
    
   {% if error_message %}
     <div class="alert alert-danger">{{ error_message }}</div>
   {% endif %}
  
  
 
  
{% endblock %}
